{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "no-alert": "off",
    "react/prop-types": "off",
    "no-unused-expressions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
